<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
    <script src="angular.js"></script>
    <script src="angularoute.js"></script>
    <script src="app.js"></script>
</head>
<body ng-controller="secondController">
<div class="container">
    <div class="row">
        <div class="col">
            <form name="bonusForm">
                <div class="card">
                    <div class="card-header">
                        LIST
                    </div>
                    <div class="card-body">
                        <table class="table table-striped table-inverse">
                            <thead class="thead-inverse">
                            <tr>
                                <td>
                                    <a href="#" ng-click="sortType ='product'">
                                        PRODUCT
                                        <span class="fa fa-caret-down" ng-show="sortType == 'name'"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType ='price'">
                                        PRICE
                                        <span class="fa fa-caret-down" ng-show="sortType == 'name'"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType ='mfv'">
                                        MFV
                                        <span class="fa fa-caret-down" ng-show="sortType == 'name'"></span>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" ng-click="sortType ='exp'">
                                        EXP
                                        <span class="fa fa-caret-down" ng-show="sortType == 'name'"></span>
                                    </a>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in products | orderBy : '-price'  | limitTo: pageSize | startFrom : currentPage * pageSize | filter:searchName | orderBy:sortType:sortReverse">
                                <td>{{product.name | uppercase}}</td>
                                <td>{{product.price | currency}}</td>
                                <td>{{product.date | date: 'MMM-dd, yyyy'}}</td>
                                <td>{{product.d}}</td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="bold">
                                <td colspan="8" id="paginationStrip">
                                    <a class="link" ng-click="currentPage = 0">PREV</a>
                                    {{currentPage + 1}}/{{pageCount()}}
                                    <a class="link" ng-click="currentPage = 1">NEXT</a>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>